<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <i class="fas fa-dumbbell me-2"></i>SuplementoCompare
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.index' }}" href="{{ url_for('main.index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and not request.args.get('category') }}" href="{{ url_for('main.productos') }}">Todos los Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and request.args.get('category') == 'proteina' }}" href="{{ url_for('main.productos', category='proteina') }}">Proteínas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and request.args.get('category') == 'creatina' }}" href="{{ url_for('main.productos', category='creatina') }}">Creatinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and request.args.get('category') == 'pre-entreno' }}" href="{{ url_for('main.productos', category='pre-entreno') }}">Pre-entrenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and request.args.get('category') == 'quemadores' }}" href="{{ url_for('main.productos', category='quemadores') }}">Quemadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'main.productos' and request.args.get('category') == 'Vitaminas Y Minerales' }}" href="{{ url_for('main.productos', category='Vitaminas Y Minerales') }}">Vitaminas Y Minerales</a>
                </li>
            </ul>
            <form class="d-flex" action="{{ url_for('main.productos') }}">
                <input class="form-control me-2" type="search" name="q" placeholder="Buscar suplemento..." value="{{ request.args.get('q', '') }}">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>